<%= form_with model: [recipe_comment, recipe] do |form| %>

  <div class="field">
    <%= form.label :Add_a_comment! %>
    <%= form.text_area :field, id: :recipe_comment_field %>
  </div>

  <div class="actions">
    <%= form.submit :Add%>
  </div>
<% end %>
